!jest.config.js
*.d.ts
node_modules
.idea

# CDK asset staging directory
.cdk.staging
cdk.out

# TS build files
lib/functions/assets-cleanup/*.js
lib/functions/access-logs-analysis/*/*.js
lib/stack/**.js
lib/stack/*/*.js
index.js